av>=16.0.1
coverage>=7.13.1
fastapi==0.128.0
librosa>=0.11.0
torch==2.9.1
transformers>=4.57.3
typer==0.21.1
uvicorn==0.40.0
coverage==7.13.1
invoke==2.2.1
mkdocs-material==9.7.1
mkdocs==1.6.1
pre-commit==4.5.1
pytest==9.0.2
ruff==0.14.11
mkdocstrings-python==2.0.1